<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}CM Tools by Julien BOURDIC{% endblock %}</title>
</head>
<body>
<header>
    <ul id="menu">
        <li class="menu-item"><a href="/web/app_dev.php/index">Home</a></li>
        <li class="menu-item"><a href="/web/app_dev.php/planned-tweets"> Mes tweets</a></li>
    </ul>
</header>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>